body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-family: Verdana;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}

.center {
  padding-left: 80px;
}

button {
  margin-top: 5px;
}

input {
  padding: 2px;
}
