body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-family: Verdana;
}

.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  margin: auto;
}

.center {
  padding-left: 80px;
}

button {
  margin: 0px;
  padding: 0;
}

/* input {
  padding: 2px;
} */

.line1,
.line2,
.line3 {
  display: block;
  padding: 5px;
  margin-left: 0;
  width: fit-content;
}

label {
  text-align: justify;
}

#rate,
#principal,
#years {
  margin-left: 80px;
  margin-right: 0px;
}

#rate {
  width: 120px;
  margin-left: 45px;
}

#years {
  margin-left: 50px;
}
